body {
    font-size: 1.2em;
    line-height: 1.5em;
    background-color: purple;
    margin: 0;
}

.header {   
    background-color: grey;
    height: 60px;

}

.name {
    float: left;
    background-color: green;
    height:100%;
    margin-left: 20px;
}

.nav-menu {
    float: right;
}

.main-wrapper {
    background-color: aqua;
    height: calc;
}

.content-wrapper {
    margin-left: 10%;
    margin-right: 40%;
    margin-top: 20px;
    padding: 10px 20px 30px 10px;
    background-color: azure;

}

img {
    height: 150px;
    widows: 150px;
    float: left;
}



.bio::after {
    content: "";
    clear: both;
    display: table;
}

.footer {
    background-color: orange;
    margin:auto;
    width: 100vw;
    text-align: center;
    position: absolute;
    bottom: 0;
}